
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');


.all {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(151, 191, 255);
    
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
}

.calculator {
    
    font-size: 44px;
    
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(4, 44px);
    gap: 8px;
}

.span {

    font-family: "Bitcount Single", system-ui;

    background-color: darkgray;
    border-radius: 8px;

    text-align: right;

    overflow: auto;
    white-space: nowrap;

    grid-column: 1 / -1;
    
}

input {
    
    background-color: rgb(186, 234, 255);

    font-size: 32px;

    height: 44px;
    width: 44px;

    text-align: center;

    border-radius: 8px;
}

.scientific {
    background-color: rgb(186, 234, 255);

    font-size: 16px;

    height: 22px;
    width: 44px;

    text-align: center;

    border-radius: 8px;
}