
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');


.all {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(151, 191, 255);

    width: 225px;
    height: 324.8px;
    
    border-radius: 8px;
}

.tasti {

    width: 209px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 44px;
    
    border-radius: 8px;

}

.span {

    font-family: "Bitcount Single", system-ui;

    background-color: darkgray;
    border-radius: 8px;

    text-align: right;

    overflow: auto;
    white-space: nowrap;
}

input {
    
    background-color: rgb(186, 234, 255);

    font-size: 32px;

    height: 44px;
    width: 44px;

    text-align: center;

    border-radius: 8px;
}

